<div class="container">
    <h2 text-center>Add User</h2>
    <form [formGroup]="addUserData" style="margin-top: 20px; width: 500px;">
        <div class="form-group  mb-3">
            <label>First Name:</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name">
            @if(addUserData.get('firstName')?.dirty || addUserData.get('firstName')?.touched) {
                @if(addUserData.get('firstName')?.errors?.['required']) {
                <div class="text-danger">First name is required.</div>            
                }
            }
             
            <!-- @if(addUserData.controls['firstName'].dirty || addUserData.controls['firstName'].touched) {
                @if(addUserData.controls['firstName'].errors['required']) {
                <div class="text-danger">First name is required.</div>            
                }
            } -->
        </div>
        <div class="form-group  mb-3">
            <label>Last Name:</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name">
            @if(addUserData.get('lastName')?.dirty || addUserData.get('lastName')?.touched) {
            @if(addUserData.get('lastName')?.errors?.['required']) {
            <div class="text-danger">Last name is required.</div>
            }
            }
        </div>
        <div class="form-group  mb-3">
            <label>Username:</label>
            <input type="text" class="form-control" formControlName="username" placeholder="Enter username">
            @if(addUserData.get('username')?.dirty || addUserData.get('username')?.touched) {
            @if(addUserData.get('username')?.errors?.['required']) {
            <div class="text-danger">Username is required.</div>
            }
            }
        </div>

        <div class="form-group mb-3">
            <label>Password:</label>    
            <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
            @if(addUserData.get('password')?.dirty || addUserData.get('password')?.touched) {
                @if(addUserData.get('password')?.errors?.['required']) {
                <div class="text-danger">Password is required.</div>            
                }
            }               
            </div>
            <div class="form-group mb-3">
                <label>Confirm Password:</label>
                <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Enter password">
                @if(addUserData.get('confirmPassword')?.dirty || addUserData.get('confirmPassword')?.touched) {
                @if(addUserData.get('confirmPassword')?.errors?.['required']) {
                <div class="text-danger">Confirm password is required.</div>
                }
                }
            </div>
            <div class="form-group mb-2">   
                <button style="margin-top: 10px; width: 120px" type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                <button style="margin-top: 10px; width: 120px" type="submit" class="btn btn-primary" (click)="onSubmit()">Add User</button>
            </div>

    </form>            



</div>
